In [1]:
x = int(98.6)

In [2]:
x = int(98.6)

In [3]:
x

98

In [4]:
x = 1 + 2 * 3 - 8 / 4

In [5]:
x

5.0

In [ ]:
input()

In [2]:
hrs = input("Enter Hours:")
rate = float(hrs)
pay_rate = rate*2.75
print("Pay:",pay_rate)

Enter Hours: 35

Pay: 96.25

In [3]:
hours = 35.0
rate = 12.50
pay = hours * rate
print(pay)

437.5

In [4]:
x = 20
if x<2:
PRINT ('SMALL')

IndentationError: expected an indented block after 'if' statement on line 2 (2123831654.py, line 3)

In [1]:
x = 0
if x < 2 :
    print('Small')
elif x < 10 :
    print('Medium')
else :
    print('LARGE')
print('All done')

Small
All done

In [2]:
if x == 6 :
    print('Is 6')
    print('Is Still 6')
    print('Third 6')

In [5]:
x = 4
if  x == 5 :
    print('Is 5')
    print('Is Still 5')
    print('Third 5')

In [10]:
x= 4
if x < 2 :
    print('Below 2')
elif x >= 2 :
     print('Two or more')
else :
    print('Something else')

Two or more

In [11]:
(1)   astr = 'Hello Bob'
(2)   istr = int(astr)
(3)   print('First', istr)
(4)   astr = '123'
(5)   istr = int(astr)
(6)   print('Second', istr)

SyntaxError: invalid syntax (1944347739.py, line 1)

In [12]:
astr = 'Hello Bob'
istr = 0
try:
    istr = int(astr)
except:
    istr = -1

In [ ]:
astr = 'Hello Bob'
istr = 0
try:
    istr = int(astr)
except:
    istr = -1

In [13]:
hrs = input("Enter Hours:")
rate = input ("Enter Rate:")
p_rate = float(hrs)*float(rate)
if p_rate < 40:
    print("Pay:",p_rate)
if p_rate > 40:
    overtime = float(p_rate)*1.5
    print(overtime)

Enter Hours: 40
Enter Rate: 10.50

630.0

In [ ]:
hrs = input("Enter Hours:")
rate = input ("Enter Rate:")
p_rate = float(hrs)*float(rate)
if p_rate < 40:
    
    print("Pay:",p_rate)

In [1]:
hrs = input("Enter Hours:")
rate = input ("Enter Rate:")
p_rate = float(hrs)
overtime = float(rate)

#Print (p_rate, overtime)

if p_rate > 40:
    
    reg = overtime * p_rate
    otp = (p_rate - 40.0) * (overtime * 0.5)

    xp = reg + otp
    
else:
    xp = p_rate * overtime
    
print(xp)

Enter Hours: 45
Enter Rate: 10.50

498.75

In [2]:
def get_grade(score):
    if score < 0.0 or score > 1.0:
        print("Error: Score out of range. Please enter a value between 0.0 and 1.0.")
        return
    
    if score >= 0.9:
        grade = "A"
    elif score >= 0.8:
        grade = "B"
    elif score >= 0.7:
        grade = "C"
    elif score >= 0.6:
        grade = "D"
    else:
        grade = "F"
    
    print(f"Grade: {grade}")

try:
    score = float(input("Enter a score between 0.0 and 1.0: "))
    get_grade(score)
except ValueError:
    print("Error: Invalid input. Please enter a numeric value.")

Enter a score between 0.0 and 1.0:  0.3

Grade: F

In [3]:
score = input("Enter Score: ")
    if score < 0.0 or score > 1.0:
        print("Error: Score out of range. Please enter a value between 0.0 and 1.0.")
        return
    
    if score >= 0.9:
        grade = "A"
    elif score >= 0.8:
        grade = "B"
    elif score >= 0.7:
        grade = "C"
    elif score >= 0.6:
        grade = "D"
    else:
        grade = "F"
    
    print(f"Grade: {grade}")

IndentationError: unexpected indent (2650336966.py, line 2)

In [4]:
score = input("Enter Score: ")

try:
    score = float(score)  # Convert input to float
    if score < 0.0 or score > 1.0:
        print("Error: Score out of range. Please enter a value between 0.0 and 1.0.")
    else:
        if score >= 0.9:
            grade = "A"
        elif score >= 0.8:
            grade = "B"
        elif score >= 0.7:
            grade = "C"
        elif score >= 0.6:
            grade = "D"
        else:
            grade = "F"
        
        print(f"Grade: {grade}")

except ValueError:
    print("Error: Invalid input. Please enter a numeric value between 0.0 and 1.0.")

Enter Score:  0.67

Grade: D

In [5]:
def thing():
    print('Hello')

print('There')

There

In [6]:
x = 'banana'
y = max(x)
z = y * 2

In [7]:
def func(x) :
    print(x)

func(10)
func(20)

10
20

In [8]:
def stuff():
    print('Hello')
    return
    print('World')

stuff()

Hello

In [9]:
def greet(lang):
    if lang == 'es':
        return 'Hola'
    elif lang == 'fr':
        return 'Bonjour'
    else:
        return 'Hello'

print(greet('fr'),'Michael')

Bonjour Michael

In [10]:
def addtwo(a, b):
    added = a + b
    return a

x = addtwo(2, 7)
print(x)

2

In [1]:
tot = 0 
for i in [5, 4, 3, 2, 1] :
    tot = tot + 1
print(tot)

5

In [2]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
     print('Happy New Year:',  friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [3]:
smallest_so_far = -1
for the_num in [9, 41, 12, 3, 74, 15] :
   if the_num < smallest_so_far :
      smallest_so_far = the_num
print(smallest_so_far)

-1

In [4]:
tot = 0 
for i in [5, 4, 3, 2, 1] :
    tot = tot + 1
print(tot)

5

In [5]:
smallest_so_far = -1
for the_num in [9, 41, 12, 3, 74, 15] :
   if the_num < smallest_so_far :
      smallest_so_far = the_num
print(smallest_so_far)

-1

In [6]:
if smallest is None :
     smallest = value

NameError: name 'smallest' is not defined

In [7]:
n = 0
while n > 0 :
    print('Lather')
    print('Rinse')
print('Dry off!')

Dry off!